* {
  box-sizing: border-box;
}



.boxes:first-child {
  height: 100%;
}

.box {
  background-color: red;
  width: 150px;
  height: 150px;
  margin: 20px 10px 20px 10px;
  padding: 10px 20px 10px 20px;
}
